 :root{
    --main-color: #F2E85C;
 }
 *{
    box-sizing: border-box;
 }
 body{
     font-family: "Open Sans", sans-serif;
 }
  /* setting box styles */
 .setting-box{
    position: fixed;
    top: 100px;
    left: -200px;
    z-index: 1000;
    background-color: #fff;
    width: 200px;
    /* min-height: 100vh; */
    transition: .5s;
 }
 .setting-box .toggle-setting{
    position: absolute;
    top: 100px;
    right: -30px;
    text-align: center;
    background-color: #ffffff;
    cursor: pointer;
 }
  .switch-setting-box{
    left: 0;
    transition: .5s;
  }
 .setting-box .toggle-setting i{
    width: 30px;
    padding: 8px 0;
 }
 .setting-box .setting-content{
    padding: 20px;
    background-color: #eee;
    text-align: center;

 }
 .setting-box .setting-content h4{
    font-size: 20px;
    margin: 0;
 }
 .setting-box  .colors-list{
    list-style: none;
    padding: 0;
    margin: 20px 0 0 0;
    display: flex;
    gap: 10px;
 }
    .setting-box  .colors-list li{
        width: 24px;
        height: 24px;
        opacity: .5;
        cursor: pointer;
    }
 .setting-box  .colors-list li:first-child{
    background-color: #F2E85C;
 }
 .setting-box  .colors-list li:nth-child(2){
    background-color: #e91e63;
}
 .setting-box  .colors-list li:nth-child(3){
    background-color: #03a9f4;
 }
 .setting-box  .colors-list li:nth-child(4){
    background-color: #4caf50;
 }
 .setting-box  .colors-list li:nth-child(5){
    background-color: #ff5722;
 }
 .setting-box  .colors-list .active{
    opacity: 1;
    border: 2px solid #005c54;
    width: 28px;
    height: 28px;
 }
.setting-box .option-content{
    padding: 20px;
    background-color: #eee;
    text-align: center;
    margin-top: 10px;
}
.setting-box .option-content h4{
    font-size: 15px;
    margin: 0 0 10px 0;
}
.setting-box .option-content span{
    margin-top: 10px;
    display: inline-block;
    background-color: #009688;
    color: #fff;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
    font-weight: bold;
    font-size: 14px;
    opacity: .5;
}
.setting-box .option-content .active{
    opacity: 1;
}


 /* end setting box styles */
 /* style for landing page */
 .landing-page{
    min-height: 100vh;
    background-image: url(../image/0.jpg);
    background-size: cover;
    position: relative;
 }
 .overlay{
    background-color: rgba(0,0,0,.6);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}
.landing-area{
    position: relative;
    z-index: 2;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.landing-area .logo{
    font-size: 30px;
    font-weight: bold;
    padding: 15px;
}
.landing-area .links{
    display: flex;
    gap: 30px;
    padding: 15px;
}
.landing-area .links li{
    list-style: none;
}
.landing-area .links li a{
    text-decoration: none;
    color: #fff;
    transition:  .3s ;
}
.landing-area .links li a.active,
.landing-area .links li a:hover{
    color: var(--main-color);
}
.introduction-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    z-index: 2;
    color: #fff;
}
.introduction-text h1{
    font-size: 35px;
    margin-bottom: 20px;
}
.introduction-text h1 span{
    color: var(--main-color);
}
.introduction-text p{
    font-size: 20px;
    line-height: 1.6;
    margin: 0;
}
/* end landing page */